---

services:
  app:
    image: "{{ wp_3lbshop_app_image }}:{{ wp_3lbshop_app_image_tag }}"
    restart: always
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./src:/var/www/html
      - ./config/php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      - "{{ wp_3lbshop_reverse_proxy_network }}"
      - "{{ wp_3lbshop_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.rule=Host(`{{ wp_3lbshop_web_url }}`)"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.tls=true"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.tls.certresolver=letsencrypt-dns"
      - "traefik.http.services.{{ wp_3lbshop_role_name }}.loadbalancer.server.port=80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "{{ wp_3lbshop_db_name }}"
      WORDPRESS_DB_PASSWORD: "{{ wp_3lbshop_db_password }}"
      WORDPRESS_DB_USER: "{{ wp_3lbshop_db_user }}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/wp-login.php"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  db:
    image: "{{ wp_3lbshop_mysql_image }}:{{ wp_3lbshop_mysql_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - "{{ wp_3lbshop_role_name }}_internal"
    labels:
      - "kopia.backup.target=true"
    environment:
      MYSQL_DATABASE: "{{ wp_3lbshop_db_name }}"
      MYSQL_USER: "{{ wp_3lbshop_db_user }}"
      MYSQL_PASSWORD: "{{ wp_3lbshop_db_password }}"
      MYSQL_RANDOM_ROOT_PASSWORD: true
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  redis:
    image: "{{ wp_3lbshop_redis_image }}:{{ wp_3lbshop_redis_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - "{{ wp_3lbshop_role_name }}_internal"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  "{{ wp_3lbshop_reverse_proxy_network }}":
    external: true
  "{{ wp_3lbshop_role_name }}_internal":
    name: "{{ wp_3lbshop_role_name }}_internal"
    internal: true
