---

services:
  app:
    image: "wordpress:{{ wp_3lbshop_wordpress_image_tag }}"
    container_name: "{{ wp_3lbshop_role_name }}"
    restart: unless-stopped
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./src:/var/www/html
      - ./config/php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      - "{{ wp_3lbshop_reverse_proxy_network }}"
      - "{{ wp_3lbshop_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.rule=Host(`{{ wp_3lbshop_web_url }}`)"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.tls=true"
      - "traefik.http.routers.{{ wp_3lbshop_role_name }}.tls.certresolver=letsencrypt-dns"
      - "traefik.http.services.{{ wp_3lbshop_role_name }}.loadbalancer.server.port=80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "{{ wp_3lbshop_db_name }}"
      WORDPRESS_DB_PASSWORD: "{{ wp_3lbshop_db_password }}"
      WORDPRESS_DB_USER: "{{ wp_3lbshop_db_user }}"

  db:
    image: "mysql:{{ wp_3lbshop_mysql_image_tag }}"
    container_name: "{{ wp_3lbshop_role_name }}-db"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - "{{ wp_3lbshop_role_name }}_internal"
    environment:
      MYSQL_DATABASE: "{{ wp_3lbshop_db_name }}"
      MYSQL_USER: "{{ wp_3lbshop_db_user }}"
      MYSQL_PASSWORD: "{{ wp_3lbshop_db_password }}"
      MYSQL_RANDOM_ROOT_PASSWORD: true

  redis:
    image: "redis:{{ wp_3lbshop_redis_image_tag }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - "{{ wp_3lbshop_role_name }}_internal"

networks:
  "{{ wp_3lbshop_reverse_proxy_network }}":
    external: true
  "{{ wp_3lbshop_role_name }}_internal":
    name: "{{ wp_3lbshop_role_name }}_internal"
    internal: true
