upload_max_filesize = "{{ wp_3lbshop_php_upload_max_filesize }}"
post_max_size = "{{ wp_3lbshop_php_post_max_size }}"
memory_limit = "{{ wp_3lbshop_php_memory_limit }}"
max_execution_time = "{{ wp_3lbshop_php_max_execution_time }}"