services:
  app:
    image: "ghcr.io/linkwarden/linkwarden:{{ linkwarden_image_tag }}"
    container_name: "{{ linkwarden_role_name }}"
    restart: unless-stopped
    depends_on:
      - db
      - meilisearch
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/data/data
    networks:
      - "{{ linkwarden_reverse_proxy_network }}"
      - "{{ linkwarden_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ linkwarden_reverse_proxy_network }}"
      - "traefik.http.routers.{{ linkwarden_role_name }}.rule=Host(`{{ linkwarden_web_url }}`)"
      - "traefik.http.routers.{{ linkwarden_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ linkwarden_role_name }}.tls=true"
      - "traefik.http.services.{{ linkwarden_role_name }}.loadbalancer.server.port=3000"
    environment:
      DATABASE_URL: "{{ linkwarden_database_url }}"
      NEXTAUTH_URL: "https://{{ linkwarden_web_url }}/api/v1/auth"
      NEXTAUTH_SECRET: "{{ linkwarden_nextauth_secret }}"
      NEXT_PUBLIC_DISABLE_REGISTRATION: true

  db:
    image: "postgres:{{ linkwarden_postgres_image_tag }}"
    container_name: "{{ linkwarden_role_name }}-db"
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - "{{ linkwarden_role_name }}_internal"
    environment:
      POSTGRES_DB: "{{ linkwarden_db_name }}"
      POSTGRES_USER: "{{ linkwarden_db_user }}"
      POSTGRES_PASSWORD: "{{ linkwarden_db_password }}"

  meilisearch:
    image: "getmeili/meilisearch:{{ linkwarden_meilisearch_image_tag }}"
    container_name: "{{ linkwarden_role_name }}_meilisearch"
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - ./meili_data:/meili_data
    networks:
      - "{{ linkwarden_role_name }}_internal"
    environment:
      MEILI_MASTER_KEY: "{{ linkwarden_meilisearch_master_key }}"

networks:
  "{{ linkwarden_reverse_proxy_network }}":
    external: true
  "{{ linkwarden_role_name }}_internal":
    name: "{{ linkwarden_role_name }}_internal"
    internal: true
