services:
  app:
    image: "ghcr.io/linkwarden/linkwarden:{{ linkwarden_image_tag }}"
    container_name: "{{ role_name }}"
    restart: unless-stopped
    depends_on:
      - db
      - meilisearch
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/data/data
    networks:
      - proxy
      - linkwarden_internal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ role_name }}.rule=Host(`{{ role_name }}.{{ traefik_domain }}`)"
      - "traefik.http.routers.{{ role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ role_name }}.tls=true"
      - "traefik.http.services.{{ role_name }}.loadbalancer.server.port=3000"
    environment:
      DATABASE_URL: "{{ linkwarden_database_url }}"
      NEXTAUTH_URL: "https://{{ role_name }}.{{ traefik_domain }}/api/v1/auth"
      NEXTAUTH_SECRET: "{{ linkwarden_nextauth_secret }}"
      NEXT_PUBLIC_DISABLE_REGISTRATION: true

  db:
    image: "postgres:{{ postgres_image_tag }}"
    container_name: linkwarden_db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - linkwarden_internal
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: "{{ linkwarden_db_user }}"
      POSTGRES_PASSWORD: "{{ linkwarden_db_password }}"

  meilisearch:
    image: "getmeili/meilisearch:{{ meilisearch_image_tag }}"
    container_name: linkwarden_meilisearch
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - ./meili_data:/meili_data
    networks:
      - linkwarden_internal
    environment:
      MEILI_MASTER_KEY: "{{ linkwarden_meilisearch_master_key }}"

networks:
  proxy:
    external: true
  linkwarden_internal:
    internal: true
