---

services:
  app:
    image: "{{ linkwarden_app_image }}:{{ linkwarden_app_image_tag }}"
    restart: always
    depends_on:
      db:
        condition: service_healthy
      meilisearch:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/data/data
    networks:
      - "{{ linkwarden_reverse_proxy_network }}"
      - "{{ linkwarden_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ linkwarden_reverse_proxy_network }}"
      - "traefik.http.routers.{{ linkwarden_role_name }}.rule=Host(`{{ linkwarden_web_url }}`)"
      - "traefik.http.routers.{{ linkwarden_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ linkwarden_role_name }}.tls=true"
      - "traefik.http.routers.{{ linkwarden_role_name }}.tls.certresolver=letsencrypt-dns"
      - "traefik.http.services.{{ linkwarden_role_name }}.loadbalancer.server.port=3000"
    environment:
      DATABASE_URL: "{{ linkwarden_database_url }}"
      NEXTAUTH_URL: "https://{{ linkwarden_web_url }}/api/v1/auth"
      NEXTAUTH_SECRET: "{{ linkwarden_nextauth_secret }}"
      NEXT_PUBLIC_DISABLE_REGISTRATION: true

  db:
    image: "{{ linkwarden_postgres_image }}:{{ linkwarden_postgres_image_tag }}"
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: always
    networks:
      - "{{ linkwarden_role_name }}_internal"
    labels:
      - "kopia.backup.target=true"
    environment:
      POSTGRES_DB: "{{ linkwarden_db_name }}"
      POSTGRES_USER: "{{ linkwarden_db_user }}"
      POSTGRES_PASSWORD: "{{ linkwarden_db_password }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  meilisearch:
    image: "{{ linkwarden_meilisearch_image }}:{{ linkwarden_meilisearch_image_tag }}"
    security_opt:
      - no-new-privileges:true
    restart: always
    volumes:
      - ./meili_data:/meili_data
    networks:
      - "{{ linkwarden_role_name }}_internal"
    environment:
      MEILI_MASTER_KEY: "{{ linkwarden_meilisearch_master_key }}"
    healthcheck:
      test: ["CMD", "curl", "-fs", "http://127.0.0.1:7700/health"]
      interval: 10s
      retries: 5
      timeout: 5s

networks:
  "{{ linkwarden_reverse_proxy_network }}":
    external: true
  "{{ linkwarden_role_name }}_internal":
    name: "{{ linkwarden_role_name }}_internal"
    internal: true
