[defaults]
inventory = bootstrap/inventory.yml
roles_path = roles
vault_password_file = .vault_pass
host_key_checking = False
interpreter_python = auto_silent
nocows = 1
deprecation_warnings = False
remote_tmp = ~/.ansible/tmp
collections_path = ./collections
callbacks_enabled = timer, profile_tasks, profile_roles

[ssh_connection]
pipelining = True
