[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
vault_identity_list = dev@.vault_pass_dev, prod@.vault_pass_prod
host_key_checking = False
interpreter_python = auto_silent
nocows = 1
deprecation_warnings = False
remote_tmp = ~/.ansible/tmp
collections_path = ./collections
callbacks_enabled = timer, profile_tasks, profile_roles

[ssh_connection]
pipelining = True
