---

services:
  prometheus:
    image: "{{ observability_prometheus_image }}:{{ observability_prometheus_image_tag }}"
    security_opt:
      - no-new-privileges:true
    restart: always
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./config/prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - ./data/prometheus:/prometheus
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9090"]
      interval: 10s
      timeout: 5s
      retries: 5

  alertmanager:
    image: "{{ observability_alertmanager_image }}:{{ observability_alertmanager_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./config/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./data/alertmanager:/alertmanager
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9093"]
      interval: 10s
      timeout: 5s
      retries: 5

  grafana:
    image: "{{ observability_grafana_image }}:{{ observability_grafana_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    environment:
      - GF_SECURITY_ADMIN_USER={{ observability_grafana_admin_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ observability_grafana_admin_password }}
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./config/grafana/provisioning/dashboards/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml:ro
      - ./config/grafana/provisioning/dashboards/json:/etc/grafana/provisioning/dashboards/json:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ observability_reverse_proxy_network }}"
      - "traefik.http.routers.grafana.rule=Host(`{{ observability_grafana_domain }}`)"
      - "traefik.http.routers.grafana.middlewares=secHeaders@file,tailscaleOnly@file"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.certresolver=letsencrypt-dns"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "curl", "-fs", "http://127.0.0.1:3000"]
      interval: 10s
      timeout: 5s
      retries: 5

  node-exporter:
    image: "{{ observability_node_exporter_image }}:{{ observability_node_exporter_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9100"]
      interval: 10s
      timeout: 5s
      retries: 5

  cadvisor:
    image: "{{ observability_cadvisor_image }}:{{ observability_cadvisor_image_tag }}"
    restart: always
    privileged: true
    security_opt:
      - no-new-privileges:true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8080"]
      interval: 10s
      timeout: 5s
      retries: 5

  loki:
    image: "{{ observability_loki_image }}:{{ observability_loki_image_tag }}"
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./config/loki/loki-config.yml:/etc/loki/local-config.yaml:ro
      - ./data/loki:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - "{{ observability_reverse_proxy_network }}"
    deploy:
      resources:
        limits:
          memory: 768M
    healthcheck:
      test: ["CMD", "/usr/bin/loki", "-health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  promtail:
    image: "{{ observability_promtail_image }}:{{ observability_promtail_image_tag }}"
    user: root
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./config/promtail/promtail-config.yml:/etc/promtail/config.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    networks:
      - "{{ observability_reverse_proxy_network }}"
    healthcheck:
      test: ["CMD", "/usr/bin/promtail", "-version"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

networks:
  "{{ observability_reverse_proxy_network }}":
    external: true
