[Journal]
Storage={{ common_journald_persistence }}
SystemMaxUse={{ common_journald_total_max_size }}
SystemMaxFileSize={{ common_journald_file_max_size }}
MaxRetentionSec={{ common_journald_retention_days }}
Compress={{ common_journald_compression }}
RateLimitIntervalSec={{ common_journald_rate_limit_sec }}
RateLimitBurst={{ common_journald_rate_limit_burst }}