services:
  app:
    image: "passbolt/passbolt:{{ passbolt_image_tag }}"
    restart: unless-stopped
    container_name: "passbolt"
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./gpg_volume:/etc/passbolt/gpg
      - ./jwt_volume:/etc/passbolt/jwt
    networks:
      - proxy
      - "passbolt_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.passbolt.rule=Host(`passbolt.{{ traefik_domain }}`)"
      - "traefik.http.routers.passbolt.entrypoints=websecure"
      - "traefik.http.routers.passbolt.tls=true"
      - "traefik.http.services.passbolt.loadbalancer.server.port=8080"
    environment:
      APP_FULL_BASE_URL: "https://passbolt.{{ traefik_domain }}"

      DATASOURCES_DEFAULT_HOST: "db"
      DATASOURCES_DEFAULT_DATABASE: "passbolt"
      DATASOURCES_DEFAULT_USERNAME: "{{ passbolt_db_user }}"
      DATASOURCES_DEFAULT_PASSWORD: "{{ passbolt_db_password }}"

      EMAIL_TRANSPORT_DEFAULT_HOST: "{{ passbolt_smtp_host }}"
      EMAIL_TRANSPORT_DEFAULT_PORT: "{{ passbolt_smtp_port }}"
      EMAIL_DEFAULT_FROM: "{{ passbolt_email_sender }}"
      EMAIL_TRANSPORT_DEFAULT_USERNAME: "{{ passbolt_smtp_user }}"
      EMAIL_TRANSPORT_DEFAULT_PASSWORD: "{{ passbolt_smtp_password }}"

      PASSBOLT_KEY_NAME: "TALOS Passbolt Server"
      PASSBOLT_KEY_EMAIL: "passbolt@{{ traefik_domain }}"

      PASSBOLT_SSL_FORCE: "false"
      PASSBOLT_TRUSTED_PROXIES: "172.18.0.0/16"

    command: [ "/usr/bin/wait-for.sh", "-t", "0", "db:3306", "--", "/docker-entrypoint.sh" ]

  db:
    image: "mariadb:{{ passbolt_mariadb_image_tag }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - "passbolt_internal"
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: "passbolt"
      MYSQL_USER: "{{ passbolt_db_user }}"
      MYSQL_PASSWORD: "{{ passbolt_db_password }}"

networks:
  proxy:
    external: true
  "passbolt_internal":
    name: "passbolt_internal"
    internal: true
