---
services:
  app:
    image: "ghcr.io/toeverything/affine:{{ affine_image_tag }}"
    container_name: "{{ affine_role_name }}"
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/root/.affine/storage
      - ./config:/root/.affine/config
    networks:
      - "{{ affine_reverse_proxy_network }}"
      - "{{ affine_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ affine_reverse_proxy_network }}"
      - "traefik.http.routers.{{ affine_role_name }}.rule=Host(`{{ affine_web_url }}`)"
      - "traefik.http.routers.{{ affine_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ affine_role_name }}.tls=true"
      - "traefik.http.services.{{ affine_role_name }}.loadbalancer.server.port=3010"
    environment:
      DATABASE_URL: "{{ affine_database_url }}"
      REDIS_SERVER_HOST: redis
      AFFINE_INDEXER_ENABLED: false

  db:
    image: "pgvector/pgvector:{{ affine_postgres_image_tag }}"
    container_name: "{{ affine_role_name }}-db"
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - "{{ affine_role_name }}_internal"
    environment:
      POSTGRES_DB: "{{ affine_db_name }}"
      POSTGRES_USER: "{{ affine_db_user }}"
      POSTGRES_PASSWORD: "{{ affine_db_password }}"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "{{ affine_db_user }}", "-d", "{{ affine_db_name }}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: "redis:{{ affine_redis_image_tag }}"
    container_name: "{{ affine_role_name }}-redis"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - "{{ affine_role_name }}_internal"

networks:
  "{{ affine_reverse_proxy_network }}":
    external: true
  "{{ affine_role_name }}_internal":
    name: "{{ affine_role_name }}_internal"
    internal: true
