services:
  app:
    image: "wordpress:{{ wp-flageulcouverture_wordpress_image_tag }}"
    container_name: "{{ wp-flageulcouverture_role_name }}"
    restart: unless-stopped
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./src:/var/www/html
      - ./config/php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      - "{{ wp-flageulcouverture_reverse_proxy_network }}"
      - "{{ wp-flageulcouverture_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ wp-flageulcouverture_role_name }}.rule=Host(`{{ wp-flageulcouverture_web_url }}`)"
      - "traefik.http.routers.{{ wp-flageulcouverture_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ wp-flageulcouverture_role_name }}.tls=true"
      - "traefik.http.services.{{ wp-flageulcouverture_role_name }}.loadbalancer.server.port=80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "{{ wp-flageulcouverture_db_name }}"
      WORDPRESS_DB_PASSWORD: "{{ wp-flageulcouverture_db_password }}"
      WORDPRESS_DB_USER: "{{ wp-flageulcouverture_db_user }}"

  db:
    image: "mysql:{{ wp-flageulcouverture_mysql_image_tag }}"
    container_name: "{{ wp-flageulcouverture_role_name }}-db"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - "{{ wp-flageulcouverture_role_name }}_internal"
    environment:
      MYSQL_DATABASE: "{{ wp-flageulcouverture_db_name }}"
      MYSQL_USER: "{{ wp-flageulcouverture_db_user }}"
      MYSQL_PASSWORD: "{{ wp-flageulcouverture_db_password }}"
      MYSQL_ROOT_PASSWORD: "{{ wp-flageulcouverture_db_root_password }}"

networks:
  "{{ wp-flageulcouverture_reverse_proxy_network }}":
    external: true
  "{{ wp-flageulcouverture_role_name }}_internal":
    name: "{{ wp-flageulcouverture_role_name }}_internal"
    internal: true
