services:
  app:
    image: "wordpress:{{ wp_flageul_wordpress_image_tag }}"
    container_name: "wp-flageulcouverture"
    restart: unless-stopped
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./src:/var/www/html
    networks:
      - proxy
      - "wp-flageulcouverture_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wp-flageulcouverture.rule=Host(`wp-flageulcouverture.{{ traefik_domain }}`)"
      - "traefik.http.routers.wp-flageulcouverture.entrypoints=websecure"
      - "traefik.http.routers.wp-flageulcouverture.tls=true"
      - "traefik.http.services.wp-flageulcouverture.loadbalancer.server.port=80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_PASSWORD: "{{ wp_flageul_db_password }}"
      WORDPRESS_DB_USER: "{{ wp_flageul_db_user }}"

  db:
    image: "mysql:{{ wp_flageul_mysql_image_tag }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - "wp-flageulcouverture_internal"
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: "{{ wp_flageul_db_user }}"
      MYSQL_PASSWORD: "{{ wp_flageul_db_password }}"
      MYSQL_ROOT_PASSWORD: "{{ wp_flageul_db_root_password }}"

networks:
  proxy:
    external: true
  "wp-flageulcouverture_internal":
    name: "wp-flageulcouverture_internal"
    internal: true
