---

services:
  traefik:
    image: "traefik:{{ traefik_image_tag }}"
    container_name: "{{ traefik_role_name }}"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      TRAEFIK_LOG_LEVEL: "{{ traefik_log_level }}"
      CF_DNS_API_TOKEN: "{{ vault_cloudflare_dns_api_token }}"
    ports:
      - "{{ traefik_http_port }}:80"
      - "{{ traefik_https_port }}:443"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic.yml:/etc/traefik/dynamic.yml:ro
      - ./data/acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - "{{ traefik_reverse_proxy_network }}"

networks:
  "{{ traefik_reverse_proxy_network }}":
    external: true