---

global:
  checkNewVersion: true
  sendAnonymousUsage: false

ping:
  manualRouting: false

log:
  level: "{{ traefik_log_level }}"

accessLog:
  filePath: "/var/log/traefik/access.log"
  bufferingSize: 100
  filters:
    statusCodes:
      - "200-299"
      - "400-499"
      - "500-599"

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt-dns
      middlewares:
        - crowdsec-bouncer@file

experimental:
  plugins:
    crowdsec-bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.3.5"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic.yml"

api:
  dashboard: true
  insecure: false

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

certificatesResolvers:
  letsencrypt-http:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "acme.json"
      httpChallenge:
        entryPoint: web
  letsencrypt-dns:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "acme.json"
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 10
