---

global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: "{{ traefik_log_level }}"

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt-dns

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic.yml"

api:
  dashboard: true
  insecure: false

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

certificatesResolvers:
  letsencrypt-http:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "acme.json"
      httpChallenge:
        entryPoint: web
  letsencrypt-dns:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "acme.json"
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 10