---

services:
  app:
    image: "requarks/wiki:{{ wikijs_image_tag }}"
    container_name: "{{ wikijs_role_name }}"
    restart: unless-stopped
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/app/data
      - ./wiki-uploads:/app/data/uploads
    networks:
      - "{{ wikijs_reverse_proxy_network }}"
      - "{{ wikijs_role_name }}_internal"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ wikijs_reverse_proxy_network }}"
      - "traefik.http.routers.{{ wikijs_role_name }}.rule=Host(`{{ wikijs_web_url }}`)"
      - "traefik.http.routers.{{ wikijs_role_name }}.middlewares=secHeaders@file,tailscaleOnly@file"
      - "traefik.http.routers.{{ wikijs_role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ wikijs_role_name }}.tls=true"
      - "traefik.http.services.{{ wikijs_role_name }}.loadbalancer.server.port=3000"
    environment:
      DB_HOST: db
      DB_NAME: "{{ wikijs_db_name }}"
      DB_USER: "{{ wikijs_db_user }}"
      DB_PASS: "{{ wikijs_db_password }}"
      DB_PORT: 5432
      DB_TYPE: postgres
  db:
    image: postgres:{{ wikijs_postgres_image_tag }}
    container_name: "{{ wikijs_role_name }}-db"
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - "{{ wikijs_role_name }}_internal"
    environment:
      POSTGRES_DB: "{{ wikijs_db_name }}"
      POSTGRES_USER: "{{ wikijs_db_user }}"
      POSTGRES_PASSWORD: "{{ wikijs_db_password }}"
networks:
  "{{ wikijs_reverse_proxy_network }}":
    external: true
  "{{ wikijs_role_name }}_internal":
    name: "{{ wikijs_role_name }}_internal"
    internal: true
