services:
  app:
    image: "requarks/wiki:{{ wikijs_image_tag }}"
    container_name: "{{ role_name }}"
    restart: unless-stopped
    depends_on:
      - db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/app/data
      - ./wiki-uploads:/app/data/uploads
    networks:
      - proxy
      - wiki_internal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ role_name }}.rule=Host(`wiki.{{ traefik_domain }}`)"
      - "traefik.http.routers.{{ role_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ role_name }}.tls=true"
      - "traefik.http.services.{{ role_name }}.loadbalancer.server.port=3000"
    environment:
      DB_HOST: db
      DB_NAME: wikijs
      DB_USER: "{{ wikijs_db_user }}"
      DB_PASS: "{{ wikijs_db_password }}"
      DB_PORT: 5432
      DB_TYPE: postgres
  db:
    image: postgres:{{ postgres_image_tag }}
    container_name: wikijs_db
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - wiki_internal
    environment:
      POSTGRES_DB: wikijs
      POSTGRES_USER: "{{ wikijs_db_user }}"
      POSTGRES_PASSWORD: "{{ wikijs_db_password }}"
networks:
  proxy:
    external: true
  wiki_internal:
    internal: true
